<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'css/main.min.css' %}"> -->
    <link rel="stylesheet" href="../output.css">
    <style>
        html,
        body {
            height: 100%;
        }

        .full-height {
            height: 100%;
        }

        .section-left {
            background-image: url('./01.jpg');
            transform: scaleX(-1);
        }

        .text-mirron {
            transform: scaleX(-1);

        }
    </style>
</head>

<body>
    <div class="full-height flex ">

        <section class="hidden sm:flex section-left w-2/3 bg-cover bg-center">
            <div class="flex pb-24 justify-end items-center flex-col bg-black bg-opacity-30  absolute w-full h-full ">

                <div class="text-mirron text-center text-white font-semibold
                 bg-gray-600 bg-opacity-30 px-5 py-2 rounded-md">
                    <h1 class="text-xl mb-2">
                        hunting for work jobs!
                    </h1>
                    <h3 class="text-sm">
                        It's a elegent web traker for looking jobs. made with much love!
                    </h3>
                    <h6 class="">
                        - Angel riera
                    </h6>
                </div>
            </div>

        </section>


        <!-- Right -->
        <div class="w-full sm:w-1/3 flex justify-center items-center bg-blue-100 ">


            <form class="text-md flex flex-col space-y-5 w-full px-20  justify-center items-center" action=""
                method="post">

                <div class="text-center">
                    <h1 class="text-xl font-bold mb-10">Sign In Traker interview</h1>

                    <p>
                        Enter your email address and password to access account.
                    </p>
                </div>


                <div class="w-full flex flex-col items-start ">
                    <label for="Email_input" class="mb-3">Email address</label>
                    <input class="w-full p-2 rounded-sm bg-transparent shadow-lg
                    outline outline-1 focus:outline-blue-500 error:outline-red-500                    
                     " type="mail" name="" id="Email_input" placeholder="Enter your mail">
                </div>

                <div class="w-full flex flex-col items-start ">
                    <label for="password_input" class="mb-3">password</label>
                    <input class="w-full p-2 rounded-sm bg-transparent shadow-lg
                    outline outline-1 focus:outline-blue-500 error:outline-red-500" type="password" name=""
                        id="password_input" placeholder="Enter your password">
                </div>

                <div class="w-full flex items-center justify-start space-x-2">
                    <input type="checkbox" name="" id="Remember">
                    <label for="Remember">Remember me</label>
                </div>
                <div class="flex justify-between w-full space-x-2">
                    <button class="bg-blue-600 w-full py-4 text-white font-bold rounded-md shadow-lg">login</button>
                </div>

                <p class="-mb-4">
                    Don't have an account?
                </p>
                <a class="border border-gray-400 px-2 rounded-md shadow">Sign up</a>

            </form>

        </div>


    </div>



</body>

</html>