
    <nav class="bg-gray-900 flex justify-between items-center px-5 py-1 space-x-2">

        <div class="btn">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>


        <div class="flex w-full justify-around">
            <a class="btn" href="./board.html">
                Board
            </a>
            <a class="btn" href="./notes.html">
                Notes
            </a>
            <a class="btn" href="./todo.html">
                Todo
            </a>
        </div>

        <div onclick="" class="btn">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>

    </nav>